
*.class

*.jar
*.war
*.ear
/emptyIndex
/mergedIndex
pagerank.csv


.DS_Store
/nbproject
/retrieval
/anchorFiles
/dbpediaFiles
/testFiles
/dbpediaIndexOnlyLabels
test.nt
test.tsv
/target
/models
/README.md~
/anchorIndex
/dbpediaIndex
log.out
log.out~
nbactions.xml
src/Log4j.xml~
src/main/resources/qald_test.xml~
src/main/resources/log4j.properties~
matoll.log
matoll.log~
src/main/resources/stopwords.txt~
/bin/
/en_wiki_large_abstracts.docfrequency
/en_wiki_large_abstracts.tfidf
/tfidfIndexDatabase.bin
/.classpath
/.project
/.settings/
/tfidf.bin
/tspr.gold
/wikipagegraphdataDecoded.keys
